NationalParks.xml

<?xml version="1.0" encoding="UTF-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
attributeFormDefault="unqualified"> 
<xsd:element name="NationalParks" type="NationalParksType" />
<xsd:complexType name="NationalParksType">
    <xsd:sequence>
        <xsd:element name="NationalPark" type="NationalParkDetails" minOccurs="1" maxOccurs="unbounded" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NationalParkDetails">
    <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOCcurs="1" />
    <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOCcurs="1" />
    <xsd:element name="Address" type="AddressDetails" minOccurs="1" maxOCcurs="unbounded" />
</xsd:complexType >
    <xsd:attribute name="Rating" type="xsd:decimal" use="optional" />
    <xsd:complexType name="AddressDetails">
        <xsd:sequence>
            <xsd:element name="Number" type="NumberType" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1" />
            <xsd:element name="Zip" type="xsd:string" minOccurs="1" maxOccurs="1" />
</xsd:sequence>
<xsd:complexType name="NumberType">
    <xsd:restriction base="xsd:string">
    <xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
</xsd:restriction>
</xsd:complexType>
</xsd:schema>
